C++ Primer/FileIO/.vs/FileIO/v16/Browse.VC.db-wal
C++ Primer/FileIO/.vs/FileIO/v16/Browse.VC.db-shm
C++ Primer/FileIO/.vs/FileIO/v16/Browse.VC.opendb
C++ Primer/FileIO/Debug/FileIO.ilk
C++ Primer/FileIO/Debug/FileIO.exe
C++ Primer/FileIO/Debug/FileIO.pdb
C++ Primer/FileIO/FileIO/FileIO.vcxproj
C++ Primer/FileIO/FileIO/FileIO.vcxproj.filters
C++ Primer/FileIO/.vs/FileIO/v16/ipch/AutoPCH/2a48b70ef1f6538/FILEIO.ipch
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/link.write.1.tlog
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/link.read.1.tlog
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/link.command.1.tlog
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/FileIO.lastbuildstate
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/CL.write.1.tlog
C++ Primer/FileIO/FileIO/Debug/FileIO.tlog/CL.read.1.tlog
C++ Primer/FileIO/FileIO.sln
C++ Primer/FileIO/.vs/FileIO/v16/.suo
C++ Primer/FileIO/.vs/FileIO/v16/Browse.VC.db
*.user
*.recipe
*.obj
*.idb
*.tlog
C++ Primer/FileIO/FileIO/Debug/vc142.pdb
*.log
*.sln
*.suo
*.db
*.pdb
*.filters
*.vcxproj
*.db-shm
*.db-wal
*.opendb
*.ipch
*.cpp
*.ilk
*.exe
